* {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  user-select: none;
  transition: color, background-color 0.5s;
}

.color-light {
  --text-color: hsl(220deg, 85%, 10%);
  --text-gray-color: hsl(220deg, 85%, 10%, 60%);
  --button-background-color: hsl(220deg, 15%, 92%);
  --background-color: hsl(220deg, 15%, 98%);
  --border-color: hsl(220deg, 85%, 10%, 5%);
}

.color-dark {
  --text-color: hsl(220deg, 85%, 90%);
  --text-gray-color: hsl(220deg, 85%, 90%, 70%);
  --button-background-color: hsl(220deg, 15%, 14%);
  --background-color: hsl(220deg, 15%, 8%);
  --border-color: hsl(220deg, 85%, 90%, 5%);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
